@using MarsRoverApi
@using MarsRoverApi.Areas.HelpPage
@model InvalidSample

@*@if (HttpContextHelper.Current)
{
    <div class="warning-message-container">
        <p>@Model.ErrorMessage</p>
    </div>
}
else
{*@
    <p>Sample not available.</p>
@*}*@